<div class="pd-parallax">
    <div class="pd-title">
        <h1>Welcome</h1>
    </div>
</div>


<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
    <div class="company-policy-tile" fxFlex="100%">
        <section class="mat-typography company-policy">
            <h1>COMPANY POLICIES</h1>

            <h3>SICK DAYS</h3>
            <p>We no longer accept a doctor’s note as proof of sickness. If you are able to go to the doctor, you
                are
                able
                to come to work.</p>

            <h3>PERSONAL DAYS</h3>

            <p>Each employee will receive 104 personal says a year. They are called Saturday and Sunday.</p>

            <h3>VACATION DAYS</h3>

            <p>All employees will take their vacation at the same time every year. Vacation days are as follows:
                January
                1,
                Memorial Day, July 4, Labor Day, December 25.</p>

            <h4>Thank you! Management</h4>
        </section>
    </div>
</div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
    <div class="company-policy-tile" fxFlex="90%">
        <section class="mat-typography company-policy">
            <span>

                <h2><i class="inline-icon material-icons">perm_identity</i>CEO</h2>
            </span>
            <h3>Kathy Smith</h3>
            <h6><i class="inline-icon material-icons">phone</i>(641) 623-2995</h6>
            <h6>130 Horseshoe Dr, Montezuma, IA, 50171</h6>
        </section>
    </div>
    <div class="company-policy-tile" fxFlex="90%">
        <section class="mat-typography company-policy">
            <h2><i class="inline-icon material-icons">perm_identity</i>COO</h2>
            <h3>Janis Johnson</h3>
            <h6><i class="inline-icon material-icons">phone</i>(360) 795-3757</h6>
            <h6>8 Clover St, Cathlamet, WA, 98612</h6>
        </section>
    </div>
    <div class="company-policy-tile" fxFlex="90%">
        <section class="mat-typography company-policy">
            <h2><i class="inline-icon material-icons">perm_identity</i>CFO</h2>
            <h3>Chris Smith</h3>
            <h6><i class="inline-icon material-icons">phone</i>(643) 973-2677</h6>
            <h6>130 Horseshoe Dr, Montezuma, IA, 50171</h6>
        </section>
    </div>
</div>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
    <div class="company-policy-tile" fxFlex="90%">
        <section class="mat-typography company-policy">
            <h2><i class="inline-icon material-icons">perm_identity</i>Operation Manager</h2>
            <h3>Aaron Smith</h3>
            <h6><i class="inline-icon material-icons">phone</i>(405) 391-3616</h6>
            <h6>13616 NE 47th St, Choctaw, OK, 73020</h6>
        </section>
    </div>
    <div class="company-policy-tile" fxFlex="90%">
        <section class="mat-typography company-policy">
            <h2><i class="inline-icon material-icons">perm_identity</i>Quality Control</h2>
            <h3>David E Johnson</h3>
            <h6><i class="inline-icon material-icons">phone</i>(585) 554-4391</h6>
            <h6>7 Warren St, Rushville, NY, 14544</h6>
        </section>
    </div>
    <div class="company-policy-tile" fxFlex="90%">
        <section class="mat-typography company-policy">
            <h2><i class="inline-icon material-icons">perm_identity</i>Head Accountant</h2>
            <h3>Brian W Smith</h3>
            <h6><i class="inline-icon material-icons">phone</i>(540) 286-0314</h6>
            <h6>95 Stefaniga Rd, Stafford, VA, 22556</h6>
        </section>
    </div>
    <div class="company-policy-tile" fxFlex="90%">
        <section class="mat-typography company-policy">
            <h2><i class="inline-icon material-icons">perm_identity</i>Office Manager</h2>
            <h3>Duke Johnson</h3>
            <h6><i class="inline-icon material-icons">phone</i>(281) 432-0947</h6>
            <h6>25 Shoreline Dr, Cleveland, TX, 77327</h6>
        </section>
    </div>
    <div class="company-policy-tile" fxFlex="90%">
        <section class="mat-typography company-policy">
            <h2><i class="inline-icon material-icons">perm_identity</i>Marketing Manager</h2>
            <h3>Judy A Johnson</h3>
            <h6><i class="inline-icon material-icons">phone</i>(402) 944-7164</h6>
            <h6>609 N 15th St, Ashland, NE, 68003</h6>
        </section>
    </div>
</div>



<div class="pd-parallax">

</div>