h1 {
    text-align: center;
}

h1 .inline-icon {
    vertical-align: bottom;
    font-size: 32px !important;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field {
    width: 100%;
}
